.product_brand {
    font-family: 'Raleway';
    font-weight: 600;
    font-size: 1.8rem;
    color: var(--c-text);
    margin-bottom: 0.5rem;
}

.product_name {
    font-family: 'Raleway';
    font-weight: 400;
    font-size: 1.8rem;
    color: var(--c-text);
    margin-bottom: 2rem;
}

.product_attributes_item {
    padding-bottom: 1.5rem;
    font-size: 1.5rem;
}

.product_attributes_item:last-child {
    padding-bottom: 2rem;
}

.product_price {
    margin-bottom: 1.1rem;
}

.product_label,
.product_attributes_item > .label {
    font-family: 'Roboto Condensed';
    font-weight: 700;
    font-size: 1.1rem;
    text-transform: uppercase;
    margin-bottom: 0.6rem;
}

.product_price_value {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 1.4rem;
}

.product_description {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 1rem;
    line-height: 159.96%;
    color: var(--c-text);
    padding-top: 2.5rem;
}

.product_description h1 {
    font-size: 1.5rem;
    line-height: 159.96%;
}