.btn {
    border: none;
    background: none;
    font-family: 'Raleway';
    font-weight: 500;
    font-size: 1.2rem;
    height: 2rem;
    color: var(--c-text);
    display: flex;
    align-items: center;
    gap: 1.5rem;
    cursor: pointer;
    justify-content: center;
    position: relative;
}

.count {
    display: block;
    background-color: var(--c-text);
    color: var(--c-white);
    width: 1.1rem;
    height: 1.1rem;
    border-radius: 50%;

    font-family: 'Roboto';
    font-size: 0.7rem;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    right: -0.6rem;
    top: 0;
}