.btn {
    border: none;
    background: none;
    font-family: 'Raleway';
    font-weight: 500;
    font-size: 1.2rem;
    height: 2rem;
    color: var(--c-text);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 0.5rem;
    cursor: pointer;
}

.btn.opened .arrow {
    transform: rotate(180deg);
}