.navigation {
    display: flex;
    flex: 1;
}

.nav_link {
    color: var(--c-text);
    text-transform: uppercase;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    font-weight: 400;
    padding: 0 1rem 1.5rem;
    display: block;
    font-size: 1rem;
}

.nav_link.active {
    border-bottom: 2px var(--c-primary) solid;
    font-weight: 600;
    color: var(--c-primary);
}

/* 
    This is a workaround to set the width of the navigation link block
    to prevent it from jumping when changing the font-weight
*/
.nav_link::after {
    display: block;
    content: attr(title);
    font-weight: bold;
    height: 1px;
    color: transparent;
    overflow: hidden;
    visibility: hidden;
}