:root {
  --c-text: #1D1F22;
  --c-primary: #5ECE7B;
  --c-white: #FFFFFF;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  min-height: 100vh;
  overflow-y: scroll;
  position: relative;
}

header {
  position: relative;
  z-index: 20;
  background-color: var( --c-white);
}

.shadowed::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 5;
  background: rgba(57, 55, 72, 0.22);
}

.container {
  margin: 0 8rem;
}

@media all and (max-width: 1400px) {
  .container {
    margin: 0 5rem;
  }
}

@media all and (max-width: 1200px) {
  .container {
    margin: 0 2rem;
  }
}

@media all and (max-width: 800px) {
  .container {
    margin: 0 1rem;
  }
}