:root {
  --c-text: #1D1F22;
  --c-primary: #5ECE7B;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.container {
  margin: 0 5rem;
}


@media all and (max-width: 1200px) {
  .container {
    margin: 0 2rem;
  }
}

@media all and (max-width: 800px) {
  .container {
    margin: 0;
  }
}